@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 210 20% 98%;

    --card: 0 0% 7%;
    --card-foreground: 210 20% 98%;

    --popover: 0 0% 9%;
    --popover-foreground: 210 20% 98%;

    --primary: 150 84.8% 50.4%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 64.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 240 5% 40%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 271 76% 53%;
    --accent-foreground: 210 20% 98%;

    --destructive: 356 69% 50%;
    --destructive-foreground: 210 20% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 150 84.8% 50.4%;

    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
  }
}